<!-- Sidebar -->
<div  *ngIf = "isLoggedIn$ | async as isLoggedIn" style="background-color: #323259;position: sticky;
top: 0;
z-index: 1000;">
  <ul  class="navbar-nav toggled   sidebar sidebar-dark accordion right"
  id="accordionSidebar">
 
     <!-- Sidebar - Brand -->
     <a class="sidebar-brand d-flex align-items-center justify-content-center">
       <img class="img-profile" src="./assets/imagenes/blanco_atomo.png" width=60 height=60>
     </a>
 
     <!-- Divider -->
     <hr class="sidebar-divider my-0">
     <a style="text-align: center;">EDESAL</a>
     <hr class="sidebar-divider my-0">
 
     <!-- Nav Item - Dashboard -->
     <li class="nav-item">
       <a [routerLink]="['/dashboard']" class="nav-link">
           
         <img class="img-profile" src="./assets/imagenes/main.png" width=35 height=35>
         <span style="color: #C5A7FD;font-size: 15px; font-weight: bold;"> Inicio</span>
       </a>
 
 
 
     </li>
 
     <!-- Divider -->
     <hr class="sidebar-divider">
     <div *ngIf="user.rol == 'AEA' ">
        <div class="sidebar-heading">
          Administración
        </div>
    
        
        <li class="nav-item">
          <a [routerLink]="['/gestiones']" class="nav-link">
              
            <img class="img-profile" src="./assets/imagenes/know-how.png" width=35 height=35>
            <span style="font-size: 11px;;">Gestiones </span>
          </a>
    
    
    
        </li>
     </div>
  
 

 
 
     <!-- Divider -->
     <hr class="sidebar-divider">
 
     <!-- Heading -->
     <div class="sidebar-heading">
       ENR
     </div>
 
 
 
     <div *ngIf="user.rol == 'AEA' ||  user.rol == 'AE'">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/datosENR']">
          <img class="img-profile" src="./assets/imagenes/money.png" width=35 height=35>
            <span style="font-size: 11px;">Ingreso de Datos</span>
        </a>
      </li>
     </div>
 
   
 
     <li class="nav-item">
       <a class="nav-link" [routerLink]="['/repositorioENR']">
         <img class="img-profile" src="./assets/imagenes/folder.png" width=35 height=35>
           <span style="font-size: 11px;">Repositorio de Casos</span>
       </a>
     </li>
     <div *ngIf="user.rol == 'AEA' ">
     <li class="nav-item">
      <a class="nav-link" [routerLink]="['/repositorioGlobal']">
        <img  src="./assets/imagenes/global.png" width=45 height=45>
          <span style="font-size: 11px;">Repositorio global</span>
      </a>
    </li>
    </div>
    
     
     <!-- Nav Item - Tables -->
 
 
     <!-- Divider -->
     <hr class="sidebar-divider d-none d-md-block">
 
 
 
 
   </ul>
</div>

  <!-- End of Sidebar -->








