
<div class="row" style="margin-left: 30px;margin-right: 30px;">
    <div class="col-md-6 animated fadeInRight">

        <form [formGroup]='frm_NIS' (ngSubmit)="obtenerDatos()">
            <label>
                <img class="img-profile" src="./assets/imagenes/html.png">
                Ingrese el N° de Suministro
            </label>
            <input type="text" class="form-control" placeholder="Digíte el NIS a evaluar"
            formControlName="nis" name="nis" autocomplete="off" mask="0000000">
        </form>
    </div>
    <div class="col-md-3 animated fadeInLeft">
          <button type="submit" [disabled] = "frm_NIS.invalid" (click)="obtenerDatos()"
           class="btn btn-success" style="margin-top: 40px;"> <i class="fa fa-search"></i> Buscar</button>
    </div>
</div>

<div class="row animated fadeInDown" id="data" style="margin-left: 30px;margin-top: 25px;margin-right: 30px;"
*ngFor="let dat  of datos">
    <div class="col-lg-12">
        <hr style="background-color: #FB51EE !important;height: 2px;">

        <h4 style="color: #FB51EE;">
            <img class="img-profile" src="./assets/imagenes/result.png"
            style="margin-bottom: 5px;">
            Datos obtenidos
        </h4>
    </div>


    <form [formGroup]='frm_DatosNIS'>
        <div class="row" style="margin-left: 10px;margin-right: 30px;" >
            <div class="col-md-6">
                <label><i class="fa fa-user"></i> Usuario</label>
                <input type="text" class="form-control"  placeholder="Usuario" readonly="true"
                formControlName="usuario" name="usuario" [(ngModel)]="dat.usuario">
                <input type="hidden" class="form-control"  placeholder="Usuario" readonly="true"
                formControlName="num_suministro" name="num_suministro" [(ngModel)]="dat.num_suministro">
            </div>
            <div class="col-md-6">
                <label><i class="fa fa-address-card"></i> Dirección</label>
                <textarea rows="3" class="form-control"  placeholder="Dirección" readonly="true"
                formControlName="direccion" name="direccion" [(ngModel)]="dat.direccion"></textarea>
            </div>
            <div class="col-md-6"><br>
                <label><i class="fa fa-home"></i> Municipio</label>
                <input type="text" class="form-control"  placeholder="Municipio" readonly="true"
                formControlName="municipio" name="municipio" [(ngModel)]="dat.municipio">
            </div>
            <div class="col-md-6"><br>
                <label><i class="fa fa-home"></i> Colonia</label>
                <input type="text" class="form-control"  placeholder="Colonia" readonly="true"
                formControlName="colonia" name="colonia" [(ngModel)]="dat.colonia">
            </div>
            <div class="col-md-4"><br>
                <label><i class="fa fa-network-wired"></i> Red Eléctrica asociada</label>
                <input type="text" class="form-control"  placeholder="Red Eléctrica asociada"
                formControlName="red_electrica" name="red_electrica" readonly="true" [(ngModel)]="dat.red_electrica">
            </div>
            <div class="col-md-4"><br>
                <label><i class="fa fa-bolt"></i> Trafo</label>
                <input type="text" class="form-control"  placeholder="Trafo"
                formControlName="trafo" name="trafo" readonly="true" [(ngModel)]="dat.trafo">
            </div>
            <div class="col-md-4"><br>
                <label><i class="fa fa-project-diagram"></i> N° de Medidor</label>
                <input type="text" class="form-control"  placeholder="N° de Medidor" formControlName="medidor" name="medidor"
                readonly="true" [(ngModel)]="dat.medidor">
            </div>
            <div class="col-lg-12"><br><br>
                <hr style="background-color: #51F749 !important; height: 2px;">
                <h4 style="color: #51F749;">
                    <img class="img-profile" src="./assets/imagenes/order.png"
                    style="margin-bottom: 5px;">
                    Órdenes técnicas asociadas al suministro
                </h4>
            </div>
            <div class="col-md-12" style="max-height: 400px; overflow-y: auto;
            overflow-x: auto;
            margin-top: 25px;">
                <table  id="ordenesTbl" class="table small mt-5" style="width: 99%;
                margin:auto">
                    <thead class="thead-dark">
                      <tr>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">N° Orden</th>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">Tipo Orden</th>

                        <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Usuario Asignado</th>
                        <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Fecha de asignación</th>
                        <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Descripción</th>
                         <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Usuario resolución</th>
                         <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Fecha de resolución</th>

                         <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody style="background-color:#323259; color:white;text-align: center;
                    font-size: 13px;">
                      <tr *ngFor="let orden  of ordenes"
                      [ngClass]="{adjuntos: orden.adjuntos > 0}">
                       <td >{{orden.orden}}</td>
                       <td style="width: 50%;">{{orden.tipo}}</td>
                       <td>{{orden.asignado}}</td>
                       <td>{{orden.fechaAsig}}</td>
                       <td style="width: 50%;">
                            <div style="width:100%; max-height:60px; overflow:auto">
                                {{orden.descripcion}}
                            </div>
                        </td>
                        <td>{{orden.resolucion}}</td>
                       <td>{{orden.fechaRes}}</td>
                       <td>
                           <button class="btn btn-success btn-sm btn-circle" style="background-color: #51F749;
                           color:black" data-toggle="modal" data-target="#adjuntarArchivosOrden"
                           (click)="modalAdjuntar(orden)">
                                <i class="fa fa-paperclip"></i>
                           </button>
                           &nbsp;
                           <button *ngIf="orden.adjuntos > 0"  data-toggle="modal"
                             data-target="#adjuntosOrden" (click)="adjuntosOrdenes(orden)"
                            class="btn btn-info btn-sm btn-circle" style="background-color: #008EC4;color:white">
                             <i class="fa fa-eye"></i>
                        </button>
                       </td>

                        </tr>
                    </tbody>
                  </table>



            </div>


            <div class="col-lg-12"><br><br>
                <hr style="background-color: #49F7DD !important; height: 2px;">
                <h4 style="color: #49F7DD;">
                    <img class="img-profile" src="./assets/imagenes/cost.png"
                    style="margin-bottom: 5px;">
                    Generales Cálculo ENR
                </h4>
            </div>

            <div class="col-md-6"><br>
                <label><i class="fa fa-barcode"></i> Número de Notificación ENR</label>
                <input type="text" class="form-control"  placeholder="Número de Notificación ENR"
                formControlName="nNotificacion">
            </div>
            <div class="col-md-6"><br>
                <label><i class="fa fa-file"></i> Adjunto: Scan de notificacion inicial</label>
                <input (change)="fileProgress1($event)" type="file" class="form-control" style="height: 45px;" formControlName="adScanNoti">

            </div>
            <div class="col-md-5"><br>
                <label><i class="fa fa-calendar"></i> Fecha de primera notificación </label>
                <input type="date" class="form-control"  formControlName="fechaPrimeraNoti">

            </div>
            <div class="col-md-2"><br>
              <button class="btn btn-info"  data-toggle="modal"
              data-target="#mdFechaRegularizacion"
              style="margin-left: 18% !important;margin-top: 20% !important;">
                <i class="fas fa-list-ul"></i> Órdenes tec. </button>
          </div>
            <div class="col-md-5"><br>
                <label><i class="fa fa-calendar"></i> Fecha de Regularización</label>
                <input type="date" (change)="asigFechaFin()" class="form-control" formControlName="fechaRegular">

            </div>
            <div class="col-md-4"><br>
                <label><i class="fa fa-archive"></i> Tipo de Caso ENR</label>
                <select (change)="asigDias()" class="form-control" formControlName="codTipoENR">
                    <option value="0" set selected> Seleccione una opción</option>
                    <option *ngFor="let codENR of codigosENR"  value="{{codENR.id}}">
                        {{codENR.codigoTipo}} -- {{codENR.TipoENR}}
                    </option>
                </select>
            </div>

            <div class="col-md-2" ><br>
                <div id="diasData" style="display: none !important;" *ngIf="metodologia_validar">
                  <div   *ngFor="let dia  of dias">
                    <label><i class="fa fa-calendar"></i> Tiempo Retroactivo</label>
                    <input type="text" readonly="true"  formControlName="diasRetroactivos" class="form-control" [(ngModel)]="dia.diasRetro">
                  </div>

                </div>
            </div>
            <div class="col-md-2"><br>
                <button class="btn btn-warning"  data-toggle="modal"
                data-target="#mdLecturas"
                style="margin-left: 18% !important;margin-top: 12% !important;">
                  <i class="fas fa-list-ul"></i> Lecturas</button>
            </div>
            <div class="col-md-4"><br>
                <label><i class="fa fa-archive"></i> Tipo de Cálculo de metodología ENR</label>
                <select class="form-control" formControlName="codTipoMetENR" (change)="validarMetodologia()">
                    <option value="0" set selected> Seleccione una opción</option>
                    <option *ngFor="let codMetENR of codigosMetENR" value="{{codMetENR.id}}">
                        {{codMetENR.codigo}} -- {{codMetENR.TipoENR}}
                    </option>
                </select>

            </div>

            <div class="col-md-4" *ngIf="!metodologia_validar"><br>
              <label><i class="fa fa-dollar-sign"></i> Valor asociado</label>
                  <input readonly type="text" class="form-control" formControlName="valor_asociado" [(ngModel)]="valor_asociado.valor">
            </div>

            <div class="col-md-4"><br>
                <label><i class="fa fa-calendar"></i> Fecha de Inicio</label>
                <input type="date" (change)="validarFechaInicio()" class="form-control" formControlName="fechaInicioENR">
            </div>
            <div class="col-md-4"><br>
                <label><i class="fa fa-calendar"></i> Fecha Fin (Limite es fecha regularización)</label>
                <input type="date" (change)="validarFechas()" disabled="true"
                id="fechaf" class="form-control" formControlName="fechaFinENR">
            </div>
            <div class="col-md-4" *ngIf="metodologia_validar"><br>
                <label><i class="fa fa-money-check-alt"></i> Días de Cobro ENR</label>
                <input type="text" placeholder="Días de Cobro ENR"
                class="form-control" formControlName="diasCobro" readonly="true">
            </div>
            <div class="col-md-4"><br>
              <label><i class="fa fa-comments"></i> Datos adicionales para control interno</label>
              <textarea rows="3" formControlName="datosAdicionales"
              placeholder="Comentarios o datos adicionales" class="form-control">
              </textarea>
          </div>

          <div class="col-md-4"><br>
            <label><i class="fa fa-project-diagram"></i> N° de Medidor para carta</label>

            <select class="form-control" formControlName="nMedidorCarta">
              <option value="0" set selected> Seleccione una opción</option>
              <option *ngFor="let med of medidores"  value="{{med.numero_medidor}}">
                {{med.numero_medidor}}
              </option>
          </select>
        </div>

          <div class="col-md-4"><br>
            <label><i class="fas fa-bolt"></i> Irregularidades presentadas para agregar a carta:</label>
            <textarea rows="3" formControlName="datosIrregularidades"
            placeholder="Irregularidades que se adjuntarán a las cartas" class="form-control">
            </textarea>

            <div>
              <input type="hidden" formControlName="idUsuario" class="form-control">
            </div>

        </div>

        </div>
    </form>

    <div class="col-lg-12"><br><br>
        <hr style="background-color: #D1D104 !important; height: 2px;">
        <h4 style="color: #D1D104;">
            <img class="img-profile" src="./assets/imagenes/search.png"
            style="margin-bottom: 5px;">
            Documentación probatoria del caso
        </h4>
        <form [formGroup]='frm_Archivo'>
          <div class="row">
            <div class="col-md-3">
              <label><i class="fas fa-pencil"></i> Titulo del archivo</label>
              <textarea  name="tituloDocProbatorio" formControlName="tituloDocProbatorio"  rows="2" class="form-control"
              placeholder="Titulo del documento"></textarea>

            </div>
            <div class="col-md-3">
              <label><i class="fas fa-file"></i> Tipo de archivo</label>
              <select class="form-control" name="tipoPruebaProbatorio" formControlName="tipoPruebaProbatorio">
                <option value="1">Seleccione</option>
                <option value="Fotografía">Fotografía</option>
                <option value="Documento">Documento</option>
                <option value="Otro">Otro</option>
            </select>
            </div>
            <div class="col-md-4">
              <label><i class="fas fa-upload"></i> Seleccione el archivo</label>
              <input type="file" name="file" (change)="fileProgress($event)" class="form-control"
              formControlName="fileProbatorio" style="height:45px"/>
              <br>
              <div *ngIf="fileUploadProgress" style="color:white">
                Subiendo archivo: {{ fileUploadProgress }}
            </div>
            <div class="image-preview mb-3" *ngIf="previewUrl">
                <img [src]="previewUrl" height="150" style="margin-left:25%;"/>

            </div>

            <div class="mb-3" *ngIf="uploadedFilePath">
                {{uploadedFilePath}}
            </div>

            </div>
            <div class="col-md-2">
              <label style="color: #1B1B38 !important"><i class="fas fa-upload"></i> Seleccione el archivo</label>
              <button class="btn btn-warning"  (click)="onSubmit()">
                <i class="fas fa-upload"></i> Cargar Archivo
               </button>
            </div>
          </div><br>

        </form>
        <h5 style="color: #FAC092;">Listado de archivos cargados</h5>
        <form [formGroup]="docForm">

            <table class="table small mt-3">
                <thead class="thead-dark">
                    <tr >
                        <th style="background-color:#323259; color:#B0B005;font-size: 14px;
                        border-bottom: 2px solid #B0B005;font-weight: bold;" class="text-center">
                            <label class="fa fa-pen" style="color:#B0B005 !important;"></label>
                            Título
                        </th>
                        <th style="background-color:#323259; color:#B0B005;font-size: 14px;
                        border-bottom: 2px solid #B0B005;font-weight: bold;" class="text-center">
                            <label class="fa fa-archive" style="color:#B0B005 !important;"></label>
                            Tipo de prueba
                        </th>
                        <th style="background-color:#323259; color:#B0B005;font-size: 14px;
                        border-bottom: 2px solid #B0B005;font-weight: bold;" class="text-center">
                            <label class="fa fa-file" style="color:#B0B005 !important;"></label>
                            Archivo
                        </th>
                    </tr>
                </thead>
                <tbody  formArrayName="documentacion"
                style="background-color:#222245; color:white;text-align: center;
                font-size: 14px;">
                    <tr *ngFor="let item of documentos.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <td style="border-bottom: 1px solid white;"><textarea
                            formControlName="nombreDoc" readonly="true"
                            name="tituloDoc"  rows="2" class="form-control" placeholder="Titulo del documento"></textarea></td>
                        <td style="border-bottom: 1px solid white;">
                            <select disabled class="form-control" name="tipoPrueba" formControlName="tipoPrueba">
                            <option value="1">Seleccione</option>
                            <option value="Fotografía">Fotografía</option>
                            <option value="Documento">Documento</option>
                            <option value="Otro">Otro</option>
                        </select></td>
                        <td style="border-bottom: 1px solid white;">
                            <input class="form-control" type="text" formControlName="archivo"
                            style="height: 45px;" readonly="true"></td>
                        </tr>

                </tbody>
            </table>
        </form>
    <br><br>
    <hr style="background-color: #3AF415 !important; height: 2px;">
    <button class="btn btn-success btn-block" style="font-weight: bold !important;"
    data-toggle="modal" data-target="#guardarDatosConfirm">
       <i class="fas fa-save"></i> Guardar Todo
    </button>

    <button class="btn btn-secondary btn-block" style="font-weight: bold !important;"
   data-toggle="modal" data-target="#cancelarGuardadoModal">
        <i class="fas fa-times"></i> Cancelar
    </button>
    </div>

</div>

<!--Modal para adjuntar archivos a las ordenes-->
<div class="modal animated fadeInRight" data-backdrop="static" data-keyboard="false"
tabindex="-1" role="dialog" id="adjuntarArchivosOrden">
    <div class="modal-dialog mw-100 w-75" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <img class="img-profile" src="./assets/imagenes/attach.png" width=45 height=45>
            Adjuntar archivos a la orden : <a style="color: #51F749;">{{ordenNumero.orden}}</a>
            || Tipo de Orden : <a style="color: #51F749;">{{ordenNumero.tipo}}</a>
        </h5>
        </div>
        <div class="modal-body">
          <form [formGroup]='frm_ArchivoOT'>
            <div class="row">
              <div class="col-md-3">
                <label><i class="fas fa-pencil"></i> Titulo del archivo</label>
                <textarea  name="tituloDocProbatorioOT" formControlName="tituloDocProbatorioOT"  rows="2" class="form-control"
                placeholder="Titulo del documento"></textarea>

              </div>
              <div class="col-md-3">
                <label><i class="fas fa-file"></i> Tipo de archivo</label>
                <select class="form-control" name="tipoPruebaProbatorioOT" formControlName="tipoPruebaProbatorioOT">
                  <option value="1">Seleccione</option>
                  <option value="Visita Inspección Técnica">Visita Inspección Técnica</option>
                  <option value="Cambio de Medidor">Cambio de Medidor</option>
                  <option value="Verificación de Lectura">Verificación de Lectura</option>
            </select>
              </div>
              <div class="col-md-4">
                <label><i class="fas fa-upload"></i> Seleccione el archivo</label>
                <input type="file" name="file" (change)="fileProgress2($event)" class="form-control"
                formControlName="fileProbatorioOT" style="height:45px"/>
                <br>

              <div class="image-preview mb-3" *ngIf="previewUrl1">
                  <img [src]="previewUrl1" height="150" style="margin-left:25%;"/>
              </div>
              </div>
              <div class="col-md-2">
                <label style="color: #1B1B38 !important"><i class="fas fa-upload"></i> Seleccione el archivo</label>
                <button class="btn btn-warning"  (click)="onSubmit2(ordenNumero.orden)">
                  <i class="fas fa-upload"></i> Cargar Archivo
                 </button>
              </div>
            </div><br>

          </form>
          <h5 style="color: #FAC092;">Listado de archivos cargados</h5>


            <form [formGroup]="adjuntoOrdenesForm" enctype="multipart/form-data">

                <table class="table small mt-3">
                    <thead class="thead-dark">
                        <tr >
                            <th style="background-color:#323259; color:#51F749;font-size: 14px;
                            border-bottom: 2px solid #51F749;font-weight: bold;" class="text-center">
                                <label class="fa fa-pen" style="color:#51F749 !important;"></label>
                                OT
                            </th>
                            <th style="background-color:#323259; color:#51F749;font-size: 14px;
                            border-bottom: 2px solid #51F749;font-weight: bold;" class="text-center">
                                <label class="fa fa-pen" style="color:#51F749 !important;"></label>
                                Título
                            </th>
                            <th style="background-color:#323259; color:#51F749;font-size: 14px;
                        border-bottom: 2px solid #51F749;font-weight: bold;" class="text-center">
                            <label class="fa fa-archive" style="color:#51F749 !important;"></label>
                            Tipo de adjunto
                        </th>
                            <th style="background-color:#323259; color:#51F749;font-size: 14px;
                            border-bottom: 2px solid #51F749;font-weight: bold;" class="text-center">
                                <label class="fa fa-file" style="color:#51F749 !important;"></label>
                                Archivo
                            </th>
                        </tr>
                    </thead>
                    <tbody  formArrayName="documentacionOrden"
                    style="background-color:#222245; color:white;text-align: center;font-size: 13px;">

                    <tr *ngFor="let item of adjuntos.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <td style="border-bottom: 1px solid white;">
                            <input class="form-control" type="text" formControlName="ordenN" readonly="true">
                        </td>
                        <td style="border-bottom: 1px solid white;"><textarea
                            formControlName="nombreDocOrden" readonly="true"
                             rows="2" class="form-control" placeholder="Titulo del documento"></textarea></td>
                             <td style="border-bottom: 1px solid white;">
                                <select disabled class="form-control" name="tipoAdjuntoOrden" formControlName="tipoAdjuntoOrden">
                                <option value="1">Seleccione</option>
                                <option value="Visita Inspección Técnica">Visita Inspección Técnica</option>
                                <option value="Cambio de Medidor">Cambio de Medidor</option>
                                <option value="Verificación de Lectura">Verificación de Lectura</option>
                            </select>
                        </td>
                        <td style="border-bottom: 1px solid white;">
                            <textarea class="form-control" rows="2" readonly="true"
                             formControlName="file" name="file"></textarea>
                             <input type="hidden" formControlName="idUsuario" class="form-control">
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#cancelarGuardadoAdjuntos">
            <i class="fas fa-times-circle"></i>  Cerrar
          </button>
          <button type="button" class="btn btn-default save" data-dismiss="modal" data-toggle="modal" data-target="#guardarAdjuntosConfirm" >
            <i class="fas fa-paperclip"></i>  Adjuntar
          </button>

        </div>
      </div>
    </div>
</div>




<!---Modal de alerta para cancelar el guardado de caso ENR-->
<div class="modal animated fadeInUp" id="cancelarGuardadoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="title" style="color:#0CD902 !important;">
            <img class="img-profile" src="./assets/imagenes/confirm.png" width=35 height=35>
            Confirmación
          </h5>

        </div>
        <div class="modal-body">

          <h4 style="text-align: center;color: #67E1E1;">¿Desea cancelar el proceso de guardado?</h4>
          <h5 style="text-align: center;color: #FC0505;">¡La información no guardada se perderá!</h5>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">
            <i class="fas fa-times-circle"></i>  No!
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarGuardado()">
            <i class="fas fa-thumbs-up"></i>  Si, cancelar!
          </button>


        </div>
      </div>
    </div>
</div>


<!---Modal de alerta para confirmar guardado de caso ENR-->
<div class="modal animated fadeInDown" id="guardarDatosConfirm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="title" style="color:#0CD902 !important;">
            <img class="img-profile" src="./assets/imagenes/confirm.png" width=35 height=35>
            Confirmación
          </h5>

        </div>
        <div class="modal-body">

          <h4 style="text-align: center;color: #67E1E1;">¿Desea guardar el caso ENR?</h4>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-times-circle"></i>  No!
          </button>
          <button type="button" class="btn btn-default save" data-dismiss="modal"  (click)="guardarDatos()">
            <i class="fas fa-thumbs-up"></i>  Si, guardar!
          </button>


        </div>
      </div>
    </div>
</div>


<!---Modal de alerta para cancelar el adjunto de archivo a OT-->
<div class="modal animated fadeInUp" id="cancelarGuardadoAdjuntos" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="title" style="color:#0CD902 !important;">
            <img class="img-profile" src="./assets/imagenes/confirm.png" width=35 height=35>
            Confirmación
          </h5>

        </div>
        <div class="modal-body">

          <h4 style="text-align: center;color: #67E1E1;">¿Desea cerrar la ventana?</h4>
          <h5 style="text-align: center;color: #FC0505;">¡La información no guardada se perderá!</h5>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal"
          data-toggle="modal" data-target="#adjuntarArchivosOrden">
            <i class="fas fa-times-circle"></i>  No!
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-thumbs-up"></i>  Si, cerrar!
          </button>


        </div>
      </div>
    </div>
</div>


<!---Modal de alerta para confirmar guardado de adjuntos-->
<div class="modal animated fadeInDown" id="guardarAdjuntosConfirm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="title" style="color:#0CD902 !important;">
            <img class="img-profile" src="./assets/imagenes/confirm.png" width=35 height=35>
            Confirmación
          </h5>

        </div>
        <div class="modal-body">

          <h4 style="text-align: center;color: #67E1E1;">¿Desea adjuntar los archivos?</h4>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#adjuntarArchivosOrden">
            <i class="fas fa-times-circle"></i>  No!
          </button>
          <button type="button" class="btn btn-default save" data-dismiss="modal"  (click)="guardarAdjuntosOT()">
            <i class="fas fa-thumbs-up"></i>  Si, adjuntar!
          </button>


        </div>
      </div>
    </div>
</div>

<!--Modal para ver adjuntos de las ordenes-->
<div class="modal animated fadeInDown" id="adjuntosOrden" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  mw-100 w-75">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <img class="img-profile" src="./assets/imagenes/folder.png" width=45 height=45>
            Adjuntos de la orden : <a style="color: #51F749;">{{ordenNumero.orden}}</a>
            || Tipo de Orden : <a style="color: #51F749;">{{ordenNumero.tipo}}</a>
        </h5>

        </div>
        <div class="modal-body">

          <table  id="adjuntos_Tbl" class="table small mt-5" style="width: 100%;
                margin:auto">
                    <thead class="thead-dark">
                      <tr>
                        <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Título</th>
                        <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Tipo de archivo</th>
                        <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Fecha de Creación</th>
                         <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Usuario Creador</th>
                         <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Archivo</th>
                         <th style="background-color:#323259; color:#51F749;"
                         class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody style="background-color:#323259; color:white;text-align: center;
                    font-size: 13px;">
                      <tr *ngFor="let ad  of adjuntosFile" >
                       <td >{{ad.titulo}}</td>
                       <td>{{ad.tipo}}</td>
                       <td>{{ad.fechaCreacion}}</td>
                       <td>{{ad.creador}}</td>
                       <td>{{ad.ruta}}</td>
                       <td>
                           <button class="btn btn-success btn-sm btn-circle"  data-dismiss="modal"
                           (click)="adjuntosOrdenesVer(ad.ruta, ad.ext)"
                           data-toggle="modal" data-target="#verAdjuntosOrden">
                                <i class="fa fa-eye"></i>
                       </button>
                           &nbsp;
                        <a class="btn btn-info btn-sm btn-circle"
                           [href]="rutaFile+ad.ruta">
                                <i class="fa fa-download"></i>
                        </a>
                       &nbsp;
                           <button data-dismiss="modal" data-toggle="modal"
                            data-target="#confirmarEliminarAdjunto"
                           (click)="datosEliminarArch(ad.ruta, ad.id, ad)"
                            class="btn btn-danger btn-sm btn-circle">
                             <i class="fa fa-trash"></i>
                        </button>
                       </td>

                        </tr>
                    </tbody>
          </table>
       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-times-circle"></i>  Cerrar
          </button>
        </div>
      </div>
    </div>
</div>

<!--Modal para ver detalle de adjunto-->
<div class="modal animated fadeInDown" id="verAdjuntosOrden" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  mw-100 w-75">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div *ngIf="adjuntosOrdenesVer">
          <div *ngIf="extension == 'pdf'">
            <iframe [src]="adjuntoVer" width="100%" height="450px"></iframe>
          </div>
          <div *ngIf="extension == 'jpg' ">
            <img [src]="adjuntoVer" width="650px" height="450px"
            style="margin-left: 20%;"/>
          </div>

          <div *ngIf="extension == 'png' ">
            <img [src]="adjuntoVer" width="650px" height="450px"
            style="margin-left: 20%;"/>
          </div>
          <div *ngIf="extension == 'txt' ">
            <h2 style="color:yellow;text-align: center;">El formato .txt solo puede ser descargado</h2>
          </div>
        </div>



     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          data-toggle="modal" data-target="#adjuntosOrden">
          <i class="fas fa-times-circle"></i>  Cerrar
        </button>
      </div>
    </div>
  </div>
</div>



<div class="modal animated fadeInLeft" id="confirmarEliminarAdjunto" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="title" style="color:#0CD902 !important;">
          <img class="img-profile" src="./assets/imagenes/confirm.png" width=35 height=35>
          Confirmación
        </h5>

      </div>
      <div class="modal-body">
        <form [formGroup]='frm_ArchivoEliminar'>

          <input type="hidden" class="form-control"
          formControlName="idEliminar" name="idEliminar">
          <input type="hidden" class="form-control"
          formControlName="rutaEliminar" name="rutaEliminar">
      </form>

        <h6 style="text-align: center;color: #67E1E1;">¿Desea eliminar el archivo
          <a style="color:yellow">"{{archivoEliminar.ruta}}"</a>
          asociado a la orden
          <a style="color:yellow">"{{archivoEliminar.orden}}"</a>?</h6>
        <h5 style="text-align: center;color: #FC0505;">¡Se borrará de todo el repositorio de archivos!</h5>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"
        data-toggle="modal" data-target="#adjuntosOrden">
          <i class="fas fa-times-circle"></i>  No!
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"
        (click)="eliminarArchivo(archivoEliminar)"
        data-toggle="modal" data-target="#adjuntosOrden">
          <i class="fas fa-thumbs-up"></i>  Si, eliminar!
        </button>


      </div>
    </div>
  </div>
</div>


<div class="modal animated fadeInDown" id="mdLecturas" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-75">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title" style="color:#0CD902 !important;">
          <img class="img-profile" src="./assets/imagenes/list.png" width=35 height=35>
          Lecturas del suministro:  <a id="numSuministro" class="title" style="color: #B0B005 !important;"></a>
        </h5>

      </div>
      <div class="modal-body">
        <table  id="lecturasTbl" class="table small mt-5" style="width: 99%;
        margin:auto">
            <thead class="thead-dark">
              <tr>
                <th style="background-color:#323259; color:#51F749; display: none;"
                class="text-center"></th>
                <th style="background-color:#323259; color:#51F749;"
                class="text-center">Período</th>
                <th style="background-color:#323259; color:#51F749;"
                class="text-center">N° Medidor</th>
                <th style="background-color:#323259; color:#51F749;"
                 class="text-center">F. Lectura</th>
                 <th style="background-color:#323259; color:#51F749;"
                 class="text-center">F. Lectura Ant</th>
                <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Días</th>
                 <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Lectura</th>
                 <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Lect.Anterior</th>

                 <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Consumo</th>
            </tr>
            </thead>
            <tbody style="background-color:#323259; color:white;text-align: center;
            font-size: 13px;">
              <tr *ngFor="let lec of lecturas">
                <td style="display: none;">{{lec.f1}}</td>
               <td>{{lec.periodo}}</td>
               <td>{{lec.numero_medidor}}</td>
               <td>{{lec.fecha_lectura}}</td>
               <td>{{lec.fecha_lectura_ant}}</td>
               <td>{{lec.dias}}</td>
               <td>{{lec.lectura}}</td>
               <td>{{lec.lectura_anterior}}</td>
               <td>{{lec.consumo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>  Cerrar!
        </button>



      </div>
    </div>
  </div>
</div>



<div class="modal animated fadeInDown" id="mdFechaRegularizacion" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-75">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title" style="color:#0CD902 !important;">
          <img class="img-profile" src="./assets/imagenes/list.png" width=35 height=35>
          Órdenes de cambio de medidor del suministro
        </h5>

      </div>
      <div class="modal-body">
        <table  id="ordenesRegularesTbl" class="table small mt-5" style="width: 99%;
        margin:auto">
            <thead class="thead-dark">
              <tr>
                <th style="background-color:#323259; color:#51F749;"
                class="text-center">N° Suministro</th>
                <th style="background-color:#323259; color:#51F749;"
                class="text-center">N° Orden</th>
                <th style="background-color:#323259; color:#51F749;"
                class="text-center">Código Tipo Orden</th>
                <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Fecha realización</th>
                 <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Fecha realización</th>
                 <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Usuario realización</th>
                 <th style="background-color:#323259; color:#51F749;"
                 class="text-center">Causa</th>
            </tr>
            </thead>
            <tbody style="background-color:#323259; color:white;text-align: center;
            font-size: 13px;">
              <tr *ngFor="let lec of ordenesRegulares">
                <td>{{lec.nis}}</td>
               <td>{{lec.nOrden}}</td>
               <td>{{lec.cod}}</td>
               <td>{{lec.fecha}}</td>
               <td>{{lec.fechaRealiza}}</td>
               <td>{{lec.usuario}}</td>
               <td>{{lec.causa}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>  Cerrar!
        </button>



      </div>
    </div>
  </div>
</div>
