<head>
    <link rel="stylesheet" href="../../../assets/imagenes/animate.min.css">
</head>

<div class="row animated fadeInLeft" style="margin-left: 30px;margin-right: 30px;
background-color: #323259;">
  <div class="center" style="margin: auto;">
    <h3 style="color: #9AFB4D;">
        <img class="img-profile" src="../../../assets/imagenes/folder.png"
        style="margin-bottom: 5px;margin-top: 5px;" height=45>
        Repositorio de Casos de ENR
    </h3>
  </div>
</div>
<br><br>

    <ul class="nav nav-tabs animated fadeInRight" id="myTab" role="tablist" 
    style="margin-right: 30px;
    margin-left: 30px;">
      <li class="nav-item">
        <a class="nav-link active"  data-toggle="tab" href="#ingresados" role="tab" 
        aria-controls="home" aria-selected="true" style="color:white;background-color: #1B1B38;">
        <i class="fas fa-save"></i>
        Ingresado
         </a>
      </li>
      <li class="nav-item" style="border-bottom:1px solid white;">
        <a class="nav-link"  data-toggle="tab" href="#calculados" role="tab"
        aria-controls="profile" aria-selected="false" style="color:white;background-color: #1B1B38;">
         <i class="fas fa-calculator"></i>
            Calculado
        </a>
      </li>
      <li class="nav-item" style="border-bottom:1px solid white;">
        <a class="nav-link"  data-toggle="tab" href="#notificados" role="tab"
        aria-controls="profile" aria-selected="false" style="color:white;background-color: #1B1B38;">
         <i class="fas fa-bell"></i>
            Notificado
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent" style="background-color: #323259;margin-right: 30px;
    margin-left: 30px;border: 1px solid white;">
        <div class="tab-pane fade show active" id="ingresados" role="tabpanel" aria-labelledby="">
            <div class="row animated flipInX">
                <div class="col-lg-2"></div>
                    <div class="col-lg-8" style="background-color: #1B1B38;color: white;
                    text-align: center;font-size: 25px;color:#4DFBE6;font-weight: bold;">
                      <img class="img-profile" src="../../../assets/imagenes/homework.png"  height=35
                      style="margin-bottom: 5px;">
                      Casos Ingresados (Pendientes de Cálculo)
                    </div>                   
                <div class="col-lg-2"></div>

            </div>
            <div class="row mt-5 animated flipInX">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <table  id="tbl_Ingresados" class="table small mt-5" style="width: 100%;">
                        <thead class="thead-dark">
                          <tr>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">N° Caso</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">N° Suministro</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Cod. Tipo ENR</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Cod. Metodología ENR</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Dias de Cobro</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Fecha de Creación</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody style="background-color:#323259; color:white;text-align: center;font-size: 13px;">
                            <tr *ngFor="let rep  of repositorioIng"
                            [ngClass]="{adjuntos: rep.adjuntos > 0}">
                               <td>{{rep.caso}}</td>
                               <td>{{rep.nis}}</td>
                               <td>{{rep.codigoENR}}</td>
                               <td>{{rep.metodologiaENR}}</td>
                               <td>{{rep.diasCobrar}}</td>
                               <td>{{rep.fechaCreacion}}</td>
                               <td>
                                <button class="btn btn-default btn-circle btn1"
                                data-toggle="modal"  data-target="#datosCaso"
                                (click)="datosEditar(rep)">
                                    <i class="fas fa-edit"></i>
                                 </button>
                                     &nbsp;
                                     <button class="btn btn-info btn-circle"
                                     *ngIf="rep.adjuntos > 0"  data-toggle="modal" 
                                    data-target="#adjuntosOrden" (click)="adjuntosOrdenes(rep)">
                                        <i class="fas fa-eye"></i>
                                     </button>
                                         &nbsp;
                                 <button class="btn btn-default btn-circle btn2">
                                     <i class="fas fa-calculator"></i>
                                 </button>
                               </td>
                            </tr>
                        </tbody>
                    </table><br><br>
                </div>
                <div class="col-lg-1"></div>
            </div>         
        </div>
        <div class="tab-pane" id="calculados" role="tabpanel" aria-labelledby="">
            <div class="row animated flipInX">
                <div class="col-lg-2"></div>
                    <div class="col-lg-8" style="background-color: #1B1B38;color: white;
                    text-align: center;font-size: 25px;color:#4DFBE6;font-weight: bold;">
                      <img class="img-profile" src="../../../assets/imagenes/moneyIn.png"  height=35
                      style="margin-bottom: 5px;">
                      Casos Calculados (Pendientes de Notificación)
                    </div>                   
                <div class="col-lg-2"></div>
            </div>

            <div class="row mt-5 animated flipInX">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <table  id="tbl_Calculados" class="table small mt-5" style="width: 100%;">
                        <thead class="thead-dark">
                          <tr>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">N° Caso</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">N° Suministro</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Cod. Tipo ENR</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Cod. Metodología ENR</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Dias de Cobro</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Fecha de Creación</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody style="background-color:#323259; color:white;text-align: center;font-size: 13px;">
                            <tr *ngFor="let rep  of repositorioCalc"
                            [ngClass]="{adjuntos: rep.adjuntos > 0}">
                               <td>{{rep.caso}}</td>
                               <td>{{rep.nis}}</td>
                               <td>{{rep.codigoENR}}</td>
                               <td>{{rep.metodologiaENR}}</td>
                               <td>{{rep.diasCobrar}}</td>
                               <td>{{rep.fechaCreacion}}</td>
                               <td>
                                <button class="btn btn-default btn-circle btn1"
                                data-toggle="modal"  data-target="#datosCaso">
                                    <i class="fas fa-edit"></i>
                                 </button>
                                     &nbsp;
                                     <button class="btn btn-info btn-circle"
                                     *ngIf="rep.adjuntos > 0"  data-toggle="modal" 
                                    data-target="#adjuntosOrden" (click)="adjuntosOrdenes(rep)">
                                        <i class="fas fa-eye"></i>
                                     </button>
                                         &nbsp;
                                 <button class="btn btn-default btn-circle btn2">
                                     <i class="fas fa-calculator"></i>
                                 </button>
                                </td>
                            </tr>
                        </tbody>
                    </table><br><br>
                </div>
                <div class="col-lg-1"></div>
            </div> 

        </div>

        <div class="tab-pane" id="notificados" role="tabpanel" aria-labelledby="">
            <div class="row animated flipInX">
                <div class="col-lg-2"></div>
                    <div class="col-lg-8" style="background-color: #1B1B38;color: white;
                    text-align: center;font-size: 25px;color:#4DFBE6;font-weight: bold;">
                      <img class="img-profile" src="../../../assets/imagenes/bell.png"  height=35
                      style="margin-bottom: 5px;">
                      Casos Notificados
                    </div>                   
                <div class="col-lg-2"></div>
            </div>

            <div class="row mt-5 animated flipInX">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <table  id="tbl_Notificados" class="table small mt-5" style="width: 100%;">
                        <thead class="thead-dark">
                          <tr>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">N° Caso</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">N° Suministro</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Cod. Tipo ENR</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Cod. Metodología ENR</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Dias de Cobro</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Fecha de Creación</th>
                            <th style="background-color:#1B1B38; color:#A16EFF;" class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody style="background-color:#323259; color:white;text-align: center;font-size: 13px;">
                            <tr *ngFor="let rep  of repositorioNoti"
                            [ngClass]="{adjuntos: rep.adjuntos > 0}">
                               <td>{{rep.caso}}</td>
                               <td>{{rep.nis}}</td>
                               <td>{{rep.codigoENR}}</td>
                               <td>{{rep.metodologiaENR}}</td>
                               <td>{{rep.diasCobrar}}</td>
                               <td>{{rep.fechaCreacion}}</td>
                               <td>
                                <button class="btn btn-default btn-circle btn1"
                                data-toggle="modal"  data-target="#datosCaso">
                                    <i class="fas fa-edit"></i>
                                 </button>
                                     &nbsp;
                                     <button class="btn btn-info btn-circle"
                                     *ngIf="rep.adjuntos > 0"  data-toggle="modal" 
                                    data-target="#adjuntosOrden" (click)="adjuntosOrdenes(rep)">
                                        <i class="fas fa-eye"></i>
                                     </button>
                                         &nbsp;
                                 <button class="btn btn-default btn-circle btn2">
                                     <i class="fas fa-calculator"></i>
                                 </button>
                               </td>
                            </tr>
                        </tbody>
                    </table><br><br>
                </div>
                <div class="col-lg-1"></div>
            </div> 

        </div>
    </div>


<div class="modal animated fadeInDown" id="adjuntosOrden" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  mw-100 w-75">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">
            <img class="img-profile" src="../../../assets/imagenes/folder.png" width=45 height=45>
            Adjuntos del caso N° : <a style="color: #51F749;">{{ordenNumero.caso}}</a> 
            || Tipo ENR : <a style="color: #51F749;">{{ordenNumero.codigoENR}}</a>
            || Metodología de Cálculo : <a style="color: #51F749;">{{ordenNumero.metodologiaENR}}</a>
        </h6>
          
        </div>
        <div class="modal-body">
                <table  id="adjuntos_Tbl" class="table small mt-5" style="width: 100%;
                margin:auto">
                    <thead class="thead-dark">
                    <tr>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">Título</th>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">Tipo de archivo</th>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">Fecha de Creación</th>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">Usuario Creador</th>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">Archivo</th>
                        <th style="background-color:#323259; color:#51F749;"
                        class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody style="background-color:#323259; color:white;text-align: center;
                    font-size: 13px;">
                    <tr *ngFor="let ad  of adjuntosFile" >                        
                    <td >{{ad.titulo}}</td>
                    <td>{{ad.tipo}}</td>
                    <td>{{ad.fechaCreacion}}</td>
                    <td>{{ad.creador}}</td>
                    <td>{{ad.ruta}}</td>
                    <td>
                        <button class="btn btn-success btn-sm btn-circle"  data-dismiss="modal"
                        (click)="adjuntosOrdenesVer(ad.ruta, ad.ext)"
                        data-toggle="modal" data-target="#verAdjuntosOrden">
                                <i class="fa fa-eye"></i>
                    </button> 
                        &nbsp; 
                        <a class="btn btn-info btn-sm btn-circle"  
                        [href]="'http://localhost:8000/descargarArchivo?ruta='+ad.ruta">
                                <i class="fa fa-download"></i>
                        </a>
                    &nbsp;
                        <button data-dismiss="modal" data-toggle="modal"
                            data-target="#confirmarEliminarAdjunto"
                        (click)="datosEliminarArch(ad.ruta, ad.id, ad)"
                            class="btn btn-danger btn-sm btn-circle">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    
                        </tr>
                    </tbody>
                </table>
         
       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-times-circle"></i>  Cerrar
          </button>          
        </div>
      </div>
    </div>
</div>
    
    <!--Modal para ver detalle de adjunto-->
<div class="modal animated fadeInDown" id="verAdjuntosOrden" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  mw-100 w-75">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        
        <div *ngIf="adjuntosOrdenesVer">
            <div *ngIf="extension == 'pdf'">
              <iframe [src]="adjuntoVer" width="100%" height="450px"></iframe>
            </div>
            <div *ngIf="extension == 'jpg' ">
              <img [src]="adjuntoVer" width="650px" height="450px"
              style="margin-left: 20%;"/>
            </div>
  
            <div *ngIf="extension == 'png' ">
              <img [src]="adjuntoVer" width="650px" height="450px"
              style="margin-left: 20%;"/>
            </div>
            <div *ngIf="extension == 'txt' ">
              <h2 style="color:yellow;text-align: center;">El formato .txt solo puede ser descargado</h2>
            </div>
          </div>
        
      
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          data-toggle="modal" data-target="#adjuntosOrden">
          <i class="fas fa-times-circle"></i>  Cerrar
        </button>          
      </div>
    </div>
  </div>
</div>


<!--Modal de confirmación para eliminar adjunto-->
<div class="modal animated fadeInLeft" id="confirmarEliminarAdjunto" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h5 class="title" style="color:#0CD902 !important;">
            <img class="img-profile" src="../../../assets/imagenes/confirm.png" width=35 height=35>
            Confirmación
          </h5>
          
        </div>
        <div class="modal-body">
          <form [formGroup]='frm_ArchivoEliminar'>
            
            <input type="hidden" class="form-control"
            formControlName="idEliminar" name="idEliminar"> 
            <input type="hidden" class="form-control"
            formControlName="rutaEliminar" name="rutaEliminar"> 
        </form>    
  
          <h6 style="text-align: center;color: #67E1E1;">¿Desea eliminar el archivo 
            <a style="color:yellow">"{{archivoEliminar.ruta}}"</a>
            asociado al caso <a style="color:yellow">"{{archivoEliminar.id}}"</a> ?</h6>
          <h5 style="text-align: center;color: #FC0505;">¡Se borrará de todo el repositorio de archivos!</h5>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" 
          data-toggle="modal" data-target="#adjuntosOrden">
            <i class="fas fa-times-circle"></i>  No!
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"
          (click)="eliminarArchivo(archivoEliminar)"
          data-toggle="modal" data-target="#adjuntosOrden">
            <i class="fas fa-thumbs-up"></i>  Si, eliminar!
          </button>
          
          
        </div>
      </div>
    </div>
</div>

<!--Modal para modificación de datos de caso ENR-->

<div class="modal animated fadeInLeft" id="datosCaso" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-75" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title" style="color:#0CD902 !important;">
          <img class="img-profile" src="../../../assets/imagenes/editModal.png" width=35 height=35>
          Editar Caso N°
        </h5>
        
      </div>
      <div class="modal-body" style="max-height: calc(95vh - 190px);
      overflow-y: auto;">
        <div class="row" *ngFor="let dat  of datos">
          <form [formGroup]='frm_DatosNIS'>
            <div class="row" style="margin-left: 10px;margin-right: 30px;" >
                <div class="col-md-6">
                    <label><i class="fa fa-user"></i> Usuario</label>          
                    <input type="text" class="form-control"  placeholder="Usuario" readonly="true"
                    formControlName="usuario" name="usuario" [(ngModel)]="dat.usuario">    
                    <input type="hidden" class="form-control"  placeholder="Usuario" readonly="true"
                    formControlName="num_suministro" name="num_suministro" [(ngModel)]="dat.num_suministro">     
                </div>
                <div class="col-md-6">
                    <label><i class="fa fa-address-card"></i> Dirección</label>
                    <textarea rows="3" class="form-control"  placeholder="Dirección" readonly="true"
                    formControlName="direccion" name="direccion" [(ngModel)]="dat.direccion"></textarea>     
                </div>
                <div class="col-md-6"><br>
                    <label><i class="fa fa-home"></i> Municipio</label>          
                    <input type="text" class="form-control"  placeholder="Municipio" readonly="true"
                    formControlName="municipio" name="municipio" [(ngModel)]="dat.municipio">         
                </div>
                <div class="col-md-6"><br>
                    <label><i class="fa fa-home"></i> Colonia</label>
                    <input type="text" class="form-control"  placeholder="Colonia" readonly="true"
                    formControlName="colonia" name="colonia" [(ngModel)]="dat.colonia">    
                </div>
                <div class="col-md-4"><br>
                    <label><i class="fa fa-network-wired"></i> Red Eléctrica asociada</label>          
                    <input type="text" class="form-control"  placeholder="Red Eléctrica asociada" 
                    formControlName="red_electrica" name="red_electrica" readonly="true" [(ngModel)]="dat.red_electrica">         
                </div>
                <div class="col-md-4"><br>
                    <label><i class="fa fa-bolt"></i> Trafo</label>          
                    <input type="text" class="form-control"  placeholder="Trafo" 
                    formControlName="trafo" name="trafo" readonly="true" [(ngModel)]="dat.trafo">         
                </div>
                <div class="col-md-4"><br>
                    <label><i class="fa fa-project-diagram"></i> N° de Medidor</label>
                    <input type="text" class="form-control"  placeholder="N° de Medidor" formControlName="medidor" name="medidor"
                    readonly="true" [(ngModel)]="dat.medidor">    
                </div>
                <div class="col-lg-12"><br><br>
                    <hr style="background-color: #51F749 !important; height: 2px;">
                    <h4 style="color: #51F749;">
                        <img class="img-profile" src="../../../assets/imagenes/order.png"
                        style="margin-bottom: 5px;">
                        Órdenes técnicas asociadas al suministro
                    </h4>
                </div>
                <div class="col-md-12" style="max-height: 400px; overflow-y: auto;
                overflow-x: auto;
                margin-top: 25px;">
                    <table  id="ordenesTbl" class="table small mt-5" style="width: 99%;
                    margin:auto">
                        <thead class="thead-dark">
                          <tr>
                            <th style="background-color:#323259; color:#51F749;"
                            class="text-center">N° Orden</th>
                            <th style="background-color:#323259; color:#51F749;"
                            class="text-center">Tipo Orden</th>
                           
                            <th style="background-color:#323259; color:#51F749;"
                             class="text-center">Usuario Asignado</th>
                            <th style="background-color:#323259; color:#51F749;"
                             class="text-center">Fecha de asignación</th>
                            <th style="background-color:#323259; color:#51F749;"
                             class="text-center">Descripción</th>
                             <th style="background-color:#323259; color:#51F749;"
                             class="text-center">Usuario resolución</th>
                             <th style="background-color:#323259; color:#51F749;"
                             class="text-center">Fecha de resolución</th>
                             
                             <th style="background-color:#323259; color:#51F749;"
                             class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody style="background-color:#323259; color:white;text-align: center;
                        font-size: 13px;">
                          <tr *ngFor="let orden  of ordenes" 
                          [ngClass]="{adjuntos: orden.adjuntos > 0}">                        
                           <td >{{orden.orden}}</td>
                           <td style="width: 50%;">{{orden.tipo}}</td>
                           <td>{{orden.asignado}}</td>
                           <td>{{orden.fechaAsig}}</td>
                           <td style="width: 50%;">
                                <div style="width:100%; max-height:60px; overflow:auto">
                                    {{orden.descripcion}}
                                </div>
                            </td>
                            <td>{{orden.resolucion}}</td>
                           <td>{{orden.fechaRes}}</td>
                           <td>
                               <button class="btn btn-success btn-sm btn-circle" style="background-color: #51F749;
                               color:black" data-toggle="modal" data-target="#adjuntarArchivosOrden"
                               (click)="modalAdjuntar(orden)">
                                    <i class="fa fa-paperclip"></i>
                               </button> 
                               &nbsp; 
                               <button *ngIf="orden.adjuntos > 0"  data-toggle="modal" 
                                 data-target="#adjuntosOrden" (click)="adjuntosOrdenes(orden)"
                                class="btn btn-info btn-sm btn-circle" style="background-color: #008EC4;color:white">
                                 <i class="fa fa-eye"></i>
                            </button>
                           </td>
                          
                            </tr>
                        </tbody>
                      </table>
                     
    
                 
                </div>
              
                
                <div class="col-lg-12"><br><br>
                    <hr style="background-color: #49F7DD !important; height: 2px;">
                    <h4 style="color: #49F7DD;">
                        <img class="img-profile" src="../../../assets/imagenes/cost.png"
                        style="margin-bottom: 5px;">
                        Generales Cálculo ENR
                    </h4>
                </div>
                  
                <div class="col-md-6"><br>
                    <label><i class="fa fa-barcode"></i> Número de Notificación ENR</label>          
                    <input type="text" class="form-control"  placeholder="Número de Notificación ENR"
                    formControlName="nNotificacion">
                </div>
                <div class="col-md-6"><br>
                    <label><i class="fa fa-file"></i> Adjunto: Scan de notificacion inicial</label>          
                    <input (change)="fileProgress1($event)" type="file" class="form-control" style="height: 45px;" formControlName="adScanNoti">
               
                </div>
                <div class="col-md-6"><br>
                    <label><i class="fa fa-calendar"></i> Fecha de primera notificación </label>          
                    <input type="date" class="form-control"  formControlName="fechaPrimeraNoti">
               
                </div>
                <div class="col-md-6"><br>
                    <label><i class="fa fa-calendar"></i> Fecha de Regularización</label>          
                    <input type="date" (change)="asigFechaFin()" class="form-control" formControlName="fechaRegular">
               
                </div>  
                <div class="col-md-5"><br>
                    <label><i class="fa fa-archive"></i> Tipo de Caso ENR</label>          
                    <select (change)="asigDias()" class="form-control" formControlName="codTipoENR">
                        <option value="0" set selected> Seleccione una opción</option>
                        <option *ngFor="let codENR of codigosENR"  value="{{codENR.id}}">
                            {{codENR.codigoTipo}} -- {{codENR.TipoENR}}
                        </option>
                    </select>         
                </div>
                
                <div class="col-md-2" id="diasData"><br> 
                    <div  *ngFor="let dia  of dias">
                        <label><i class="fa fa-calendar"></i> Tiempo Retroactivo</label>
                        <input type="text" readonly="true" formControlName="diasRetroactivos" class="form-control" [(ngModel)]="dia.diasRetro">
                    </div>              
                </div>
                <div class="col-md-5"><br>
                    <label><i class="fa fa-archive"></i> Tipo de Cálculo de metodología ENR</label>          
                    <select class="form-control" formControlName="codTipoMetENR">
                        <option value="0" set selected> Seleccione una opción</option>
                        <option *ngFor="let codMetENR of codigosMetENR" value="{{codMetENR.id}}">
                            {{codMetENR.codigo}} -- {{codMetENR.TipoENR}}
                        </option>
                    </select>
               
                </div>
    
                <div class="col-md-4"><br>
                    <label><i class="fa fa-calendar"></i> Fecha de Inicio</label>
                    <input type="date" (change)="validarFechaInicio()" class="form-control" formControlName="fechaInicioENR">
                </div>
                <div class="col-md-4"><br>
                    <label><i class="fa fa-calendar"></i> Fecha Fin (Limite es fecha regularización)</label>
                    <input type="date" (change)="validarFechas()" disabled="true" 
                    id="fechaf" class="form-control" formControlName="fechaFinENR">
                </div>
                <div class="col-md-4"><br>
                    <label><i class="fa fa-money-check-alt"></i> Días de Cobro ENR</label>
                    <input type="text" placeholder="Días de Cobro ENR"
                    class="form-control" formControlName="diasCobro" readonly="true">
                </div>
            </div>
        </form>

        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>  No!
        </button>
      </div>
    </div>
  </div>
</div>