


<div class="row  animated fadeInRight">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row mt-2">
          <div class="col-lg-10" style="background-color: #1B1B38;color: white;
          text-align: center;font-size: 25px;color:#9AFB4D;font-weight: bold;">
            <img class="img-profile" src="./assets/imagenes/statistics.png" width=35 height=35
            style="margin-bottom: 5px;">
            Metolodogía de Cálculo de ENR
          </div>
          <div class="col-lg-2">
            <button class="btn btn-success btn-sm pull-right btn-block add" (click)="mostrarDivAgregarMet()">
              <i class="fa fa-plus-circle"></i>
              Agregar
          </button>
          </div>
        </div>
        <div id="divAgregarMet" class="animated flipInX">
            <hr style="background-color: #B18AFF !important;">

              <form [formGroup]="frmMetodologiaCalc">
                <div class="row">
                  <div class="col-md-3">
                    <label> Código Tipo</label>
                    <input class="form-control" placeholder="Ingreso Código Tipo"
                    formControlName="codigo" name="codigo" autocomplete="off">
                  </div>
                  <div class="col-md-3">
                      <label>Tipo ENR</label>
                      <textarea rows="3" class="form-control" placeholder="Ingreso Tipo ENR"
                      formControlName="TipoENR" name="TipoENR"></textarea>
                  </div>
                  <div class="col-md-3">
                      <label>Tipo EDESAL</label>
                      <textarea rows="3" class="form-control" placeholder="Ingreso Tipo EDESAL"
                      formControlName="tipoEdesal" name="tipoEdesal"></textarea>
                  </div>
                  <div class="col-md-3">
                    <label>Valor asociado</label>
                    <input class="form-control" placeholder="Valor asociado"
                    formControlName="valor" name="valor" autocomplete="off">
                </div>
                </div>
              </form>


            <div class="row mt-2">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">


              </div>
              <div class="col-md-4">

                <div class="btn-group mr-2 pull-right" role="group">
                  <button type="button" class="btn btn-secondary pull-right" (click)="ocultarDivAgregarMet()">
                    <i class="fas fa-times-circle"></i>  Cancelar
                  </button>
                  <button type="submit" [disabled] = "frmMetodologiaCalc.invalid" class="btn btn-default save pull-right" (click)="saveMetodologiaCalc()">
                    <i class="fas fa-save"></i>  Guardar
                  </button>
                </div>

              </div>

            </div>
            <hr style="background-color: #B18AFF !important;">
        </div>




        <br><br>
        <table  id="metodologia_tbl" class="table small mt-5" style="width: 100%;">
            <thead class="thead-dark">
              <tr>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">ID</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Código Tipo</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Tipo ENR</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Tipo EDESAL</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Valor</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody style="background-color:#323259; color:white;text-align: center;font-size: 13px;">
              <tr *ngFor="let met  of metodo">
                <td>{{met.id}}</td>
               <td>{{met.codigo}}</td>
               <td>{{met.TipoENR}}</td>
               <td>{{met.tipoEdesal}}</td>
               <td>$ {{met.valor}}</td>
               <td>
                <button (click)="editarMetologia(met)" class="btn btn-warning btn-sm btn-circle"
                data-toggle="modal" data-target="#modalEditarMetologia">
                 <i class="fas fa-edit"></i>
                </button>&nbsp;
                <button (click)="eliminarMetologia(met)" class="btn btn-danger btn-sm btn-circle"
                data-toggle="modal" data-target="#eliminarMetodologia">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table><br><br>

    </div>
    <div class="col-lg-1"></div>
</div>



<div class="modal animated flipInX"  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" id="modalEditarMetologia">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <img class="img-profile" src="./assets/imagenes/editModal.png" width=45 height=45>
          Editar Metolodogía de Cálculo ENR: <a style="color: yellow;">{{metCodigo.codigo}}</a>
        </h5>

      </div>
      <div class="modal-body">
        <br><br>
        <form [formGroup] = "frmEditarMetodologiaCalc">
          <div class="row">
            <div class="col-md-4">
              <label> Código Tipo</label>
              <input class="form-control" placeholder="Ingreso Código Tipo"
              formControlName="codigo" name="codigo">

              <input type="hidden" class="form-control" placeholder="Ingreso Código Tipo"
              formControlName="id" name="id">
            </div>
            <div class="col-md-4">
                <label>Tipo ENR</label>
                <textarea rows="3" class="form-control" placeholder="Ingreso Tipo ENR"
                formControlName="TipoENR" name="TipoENR"></textarea>
            </div>
           <div class="col-md-4">
                <label>Tipo EDESAL</label>
                <textarea rows="3" class="form-control" placeholder="Ingreso Tipo EDESAL"
                formControlName="tipoEdesal" name="tipoEdesal"></textarea>
            </div>


            <div class="col-md-4">
              <label>Valor asociado</label>
              <input class="form-control" placeholder="Ingreso Valor asociado"
              formControlName="valor" name="valor">
          </div>
          </div>
        </form><br><br>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>  Cerrar
        </button>
        <button type="button" class="btn btn-default save" data-dismiss="modal" (click)="updateMetodologia()">
          <i class="fas fa-save"></i>  Guardar
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal animated flipInX" id="eliminarMetodologia" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title">
          <img class="img-profile" src="./assets/imagenes/delete.png" width=45 height=45>
          Eliminar metodología de Cálculo de ENR
        </h5>

      </div>
      <div class="modal-body eliminarModal">
        <img class="img-profile" src="./assets/imagenes/correct.png" width=45 height=45>
        <h4 style="color: #B18AFF;">Confirmación</h4>
        <hr style="background-color: #B18AFF !important;">
        ¿Desea eliminar el código: <a style="color: yellow;">{{eliMetCodigo.codigo}}
        ({{eliMetCodigo.tipoENR}})</a> ?
        <form [formGroup] = "frmEliminarMetodologiaCalc">
          <div class="row">
            <div class="col-md-4">
              <input type="hidden" class="form-control" placeholder="Ingreso Código Tipo"
              formControlName="id" name="id">
           </div>
          </div>
        </form><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>  Cerrar
        </button>
        <button type="button" class="btn btn-default save" data-dismiss="modal" (click)="deleteMetodologia()">
          <i class="fas fa-save"></i>  Guardar
        </button>


      </div>
    </div>
  </div>
</div>
