<head>
  <link rel="stylesheet" href="../../../assets/imagenes/animate.min.css">
</head>

<ul class="nav nav-tabs animated fadeInRight" id="myTab" role="tablist" style="margin-right: 20px;
margin-left: 20px;">
  <li class="nav-item">
    <a class="nav-link active"  data-toggle="tab" href="#tipoENR" role="tab" 
    aria-controls="home" aria-selected="true" style="color:white;background-color: #1B1B38;">
    <i class="fas fa-cubes"></i>
    Códigos tipo de ENR
     </a>
  </li>
  <li class="nav-item" style="border-bottom:1px solid white;">
    <a class="nav-link"  data-toggle="tab" href="#metodologia" role="tab"
    aria-controls="profile" aria-selected="false" style="color:white;background-color: #1B1B38;">
     <i class="fas fa-calculator"></i>
    Metodología de Cálculo
    </a>
  </li>
  
</ul>
<div class="tab-content" id="myTabContent" style="background-color: #323259;margin-right: 20px;
margin-left: 20px;border: 1px solid white;">
  <div class="tab-pane fade show active" id="tipoENR" role="tabpanel" aria-labelledby="btnCodeTipo">
    
    <div class="row animated fadeInLeft">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
          <div class="row mt-2">
          <div class="col-lg-10" style="background-color: #1B1B38;color: white;
          text-align: center;font-size: 25px;color:#A16EFF;font-weight: bold;">
            <img class="img-profile" src="../../../assets/imagenes/work.png" width=35 height=35
            style="margin-bottom: 5px;">
            Códigos tipo de ENR
          </div>
           

            <div class="col-lg-2">
              <button class="btn btn-success btn-sm pull-right btn-block add" (click)="mostrarDivAgregarCode()">
                <i class="fa fa-plus-circle"></i>
                Agregar
            </button>
            </div>
          </div>
          <div id="divAgregarCode" class="animated flipInX">
              <hr style="background-color: #B18AFF !important;">
              
                <form [formGroup]='frm_codigoENR'>
                  <div class="row">
                    <div class="col-md-4">
                      <label> <i class="fas fa-cubes"></i> Código Tipo</label>
                      <input class="form-control" placeholder="Ingreso Código Tipo"
                      formControlName ="codigoTipo">
                    </div>
                    <div class="col-md-4">
                        <label> <i class="fas fa-codeopen"></i> Tipo ENR</label>
                        <textarea rows="3" class="form-control" placeholder="Ingreso Tipo ENR"
                        formControlName="tipoENR"></textarea>
                    </div>
                    <div class="col-md-4">
                        <label> <i class="fas fa-codeopen"></i> Tiempo Retroactivo</label>
                        <input class="form-control" placeholder="Ingreso Tiempo Retroactivo"
                        formControlName="tiempoRetroactivo">
                    </div>
                  </div>
                </form>
                
                
              
              <div class="row mt-2">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                
                  
                </div>
                <div class="col-md-4">
    
                  <div class="btn-group mr-2 pull-right" role="group">
                    <button type="button" class="btn btn-secondary pull-right" (click)="ocultarDivAgregarCode()">
                      <i class="fas fa-times-circle"></i>  Cancelar
                    </button>
                    <button type="button" class="btn btn-default save pull-right" (click)="saveCodigoENR()">
                      <i class="fas fa-save"></i>  Guardar
                    </button>
                  </div>
                  
                </div>
                
              </div>
              <hr style="background-color: #B18AFF !important;">
          </div>
          


          
          <br><br>
          <table  id="codigos_tbl" class="table small mt-5" style="margin-right: 20px;">
            <thead class="thead-dark">
              <tr>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">ID</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Código Tipo</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Tipo ENR</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Tiempo Retroactivo</th>
                <th style="background-color:#323259; color:#A16EFF;" class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody style="background-color:#323259; color:white;text-align: center;font-size: 15px;">
              <tr *ngFor="let codigo  of cod">
                <td>{{codigo.id}}</td>
               <td>{{codigo.codigoTipo}}</td>
               <td>{{codigo.TipoENR}}</td>
               <td>{{codigo.tiempoRetroactivo}}</td>
               <td>
                <button (click)="editarCodigo(codigo)" class="btn btn-warning btn-sm btn-circle"
                data-toggle="modal" data-target="#modalEditarCodigo">
                 <i class="fas fa-edit"></i>
                </button>&nbsp;
                <button (click)="eliminarCodigo(codigo)" class="btn btn-danger btn-sm btn-circle"
                data-toggle="modal" data-target="#eliminarCodigo">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
              
                </tr>
            </tbody>
          </table>
        <br><br>
      </div>
      <div class="col-lg-1"></div>
    </div>
    


  </div>
  <div class="tab-pane" id="metodologia" role="tabpanel" aria-labelledby="profile-tab">
      
      <app-metodologia-calculo></app-metodologia-calculo>
  </div>
</div>





<div class="modal animated flipInY" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" id="modalEditarCodigo">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <img class="img-profile" src="../../../assets/imagenes/editModal.png" width=45 height=45>
          Editar Código Tipo de ENR : <a style="color: yellow;">{{codEdition.codigoTipo}}</a> 
        </h5>
        
      </div>
      <div class="modal-body"><br><br>
        <form [formGroup] = "frmEditarCodigoENR">
          <div class="row">
            <div class="col-md-4">
                <label> Código Tipo</label>
                <input class="form-control" 
                formControlName = "codigoTipo" name="codigoTipo">

                <input type="hidden" class="form-control" 
                formControlName = "id" name="id"><br><br>
            </div>
            <div class="col-md-4">
                <label>Tipo ENR</label>
                <textarea rows="3" class="form-control" 
                formControlName="TipoENR" name="TipoENR"></textarea>
            </div>
            <div class="col-md-4">
                <label>Tiempo Retroactivo</label>
                <input class="form-control" 
                formControlName="tiempoRetroactivo" name="tiempoRetroactivo">
            </div>
          
          </div>
        </form><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>  Cerrar
        </button>
        <button type="button" class="btn btn-default save" data-dismiss="modal" (click)="updateCodigoENR()">
          <i class="fas fa-save"></i>  Guardar
        </button>
        
      </div>
    </div>
  </div>
</div>




<div class="modal animated flipInY" id="eliminarCodigo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title">
          <img class="img-profile" src="../../../assets/imagenes/delete.png" width=45 height=45>
          Eliminar Código Tipo de ENR
        </h5>
        
      </div>
      <div class="modal-body eliminarModal">
        <img class="img-profile" src="../../../assets/imagenes/correct.png" width=45 height=45>
        <h4 style="color: #B18AFF;">Confirmación</h4>
        <hr style="background-color: #B18AFF !important;">
        ¿Desea eliminar el código: <a style="color: yellow;">{{eliCodigo.codigoTipo}}
        ({{eliCodigo.TipoENR}})</a> ?
        <form [formGroup] = "frmEliminarCodigoENR">
          <input type="hidden" class="form-control" formControlName="id" name="id"><br><br>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>  Cerrar
        </button>
        <button type="button" class="btn btn-default save" data-dismiss="modal" (click)="deleteCodigoENR()">
          <i class="fas fa-save"></i>  Guardar
        </button>
        
        
      </div>
    </div>
  </div>
</div>